<!DOCTYPE html>
<html>
	<head>
		<title><%= individualAuth.name %></title>
	</head>
	<body>
		<ul>
			<li><h1><%= individualAuth.name %></h1></li>

			</br>
			<li><a href="/">see all pages</a></li>
			</br>
			<li><a href="/authors">see all authors</a></li>


		</ul>
	</body>
</html>