<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>author creation page</h1>
	<form action="/authors" id="auth_new" method="POST">
		<textarea name='username' rows='4' cols = 40 placeholder='username' required></textarea></br>
		<textarea name='email' rows='4' cols = 40 placeholder='email'></textarea></br>
		<button>Submit</button>
	</form>
	</br>
</body>
</html>